.main {
  padding: 54px 26px 83px;
  background-color: #fff7ed;
}

.title {
  margin-bottom: 22px;
}

.vans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 27px;
}

.card {
  width: 46%;

  text-decoration: none;
}
