.main {
  padding: 54px 26px 83px;
  background-color: #fff7ed;
}

.title {
  margin-bottom: 22px;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.filter-buttons {
  display: flex;
  gap: 20px;
}

.vans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 27px;
}

.card {
  width: 46%;

  text-decoration: none;
}

.button-clear {
  border: none;
  background-color: inherit;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  text-decoration: underline #4d4d4d;
  text-underline-offset: 4px;

  color: #4d4d4d;
  cursor: pointer;
}
