.image {
  width: 100%;
  margin-bottom: 10px;

  border-radius: 5px;
}

.info {
  display: flex;
}

.name {
  flex: 1 0 auto;
}

.price {
  flex-wrap: wrap;
}
.price-text {
  display: block;
}

.name,
.price {
  font-weight: 600;
  font-size: 20px;
  color: #161616;
}

.price-text {
  font-weight: 500;
  font-size: 14px;
  color: #161616;
}
