* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 548px;

  font-family: 'Inter Variable';
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: #fff7ed;
}

main {
  flex-grow: 1;
}
